# Base de datos
DB_URL=jdbc:postgresql://localhost:5433/nombre_db
DB_USERNAME=usuario_db
DB_PASSWORD=password_db

# JWT
JWT_SECRET=tu_clave_secreta_en_base64
JWT_EXPIRATION=86400000

# Servidor
SERVER_PORT=8080